/.vs/Algorithm/v16/.suo
/.vs/Algorithm/v16/TestStore/0/000.testlog
/.vs/Algorithm/v16/TestStore/0/testlog.manifest
/Algorithm/bin/Debug/netcoreapp3.1/Algorithm.deps.json
/Algorithm/bin/Debug/netcoreapp3.1/Algorithm.dll
/Algorithm/bin/Debug/netcoreapp3.1/Algorithm.exe
/Algorithm/bin/Debug/netcoreapp3.1/Algorithm.pdb
/Algorithm/bin/Debug/netcoreapp3.1/Algorithm.runtimeconfig.dev.json
/Algorithm/bin/Debug/netcoreapp3.1/Algorithm.runtimeconfig.json
/Algorithm/obj/Algorithm.csproj.nuget.dgspec.json
/Algorithm/obj/Algorithm.csproj.nuget.g.props
/Algorithm/obj/Algorithm.csproj.nuget.g.targets
/Algorithm/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.AssemblyInfo.cs
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.AssemblyInfoInputs.cache
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.assets.cache
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.csproj.CoreCompileInputs.cache
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.csproj.FileListAbsolute.txt
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.dll
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.genruntimeconfig.cache
/Algorithm/obj/Debug/netcoreapp3.1/Algorithm.pdb
/Algorithm/obj/Debug/netcoreapp3.1/apphost.exe
/Algorithm/obj/project.assets.json
/Algorithm/obj/project.nuget.cache
